*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
nav{
    background-color: rgb(0, 0, 0);
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .Logo a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
nav ul{
  list-style: none;
    display: flex;
    align-items: center;
   padding: 10px; 
}
nav li{
    margin-left: 7px;
}
nav li a{
    text-decoration: none;
    color: #7a5858;
    font-size:18px ;
    font-weight:500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;

}
nav li a:hover{
    background-color: white;
    color:black;
}
.banner{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    height: 100vh ;
    background: linear-gradient(rgba(0,0,0,0.281), grba(0,0,0,0.308));
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
    justify-content:flex-end;
    background-color: #000000;

}
.my-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000000;
    color:#fff
  }

  .my-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;

  }
  
  .my-form input[type="text"],
  .my-form input[type="email"],
  .my-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  .my-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  .texto h1{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    color: #ccc;
  }
  img{
    width: 60px;
    align-items: end;
  }
  