*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
nav{
    background-color: rgb(0, 0, 0);
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .Logo a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
nav ul{
    display: flex;
    align-items: center;
   padding: 10px; 
}
nav li{
    margin-left: 7px;
}
nav li a{
    text-decoration: none;
    color: #a38484;
    font-size:18px ;
    font-weight:500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;

}
nav li a:hover{
    background-color: white;
    color:black;
}
.banner{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    height: 100vh ;
    background: linear-gradient(rgba(0,0,0,0.281), grba(0,0,0,0.308));
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
    justify-content:flex-end;

}
.texto h1{
    color: #fff;
    font-size: 40px;
    font-weight: 50;
   padding: 20px;

}
